%h1= set_upgrades_page_title
%table#price-list
  %tr
    %th.col1 Item
    %th.col2 Cost
  %tr
    %td Blocipedia premium account upgrade
    %td $15
  %tr
    %th.total-header Total
    %td $15.00 USD
    
#payment-button
  = set_payment_link
  