= render partial: 'wiki_links', locals: { wiki: @wiki }
#wiki-header
  %h1#wiki-title= markdown_to_html @wiki.title
  %p
    %small Created by #{wiki_creator(@wiki)}
  
#wiki-content
  = markdown_to_html @wiki.body