%h1 Confirm Payment
%p Please click the button below to confirm your order

= link_to "Confirm Payment", upgrade_confirm_payment_path(paymentId: @payment_id, PayerID: @payer_id),
method: :post, class: "btn btn-success"