%h1 Upgrade Account

%p Thanks for your interest in upgrading your account. The cost is $15.00. You can make the payment through paypal using the button bellow.

%p
  = link_to(upgrade_path, method: :post) do
    = image_tag('https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif')